
<body>
    <div class="main-container">
        <div class="create-container">
            <form class="createColor">

                <div class="control-main">

                    <div class="d-flex ">
                        <!-- Color 1-->
                        <div class="control-card ">
                            <label for="color1" class="head-sub">Color 1</label>
                            <div class="desc-sub">Color for navbar</div>
                            <div class="d-flex justify-content-center align-items-center color-picker-sub">
                            <input type="color" class="color1 color-picker-input" id="color1" name="color1" value="#4d9afe">
                            <div class="color-hash hash1">#4d9afe</div>
                            </div>
                        </div>
                        <!-- Color 2-->
                        <div class="control-card p">
                            <label for="color2" class="head-sub">Color 2</label>
                            <div class="desc-sub">Color for button</div>
                            <div class="d-flex justify-content-center align-items-center color-picker-sub">
                                <input type="color" class="color2 color-picker-input" id="color2" name="color2" value="#bc6dfd">
                                <div class="color-hash hash2">#bc6dfd</div>
                            </div>
                        </div>    
                    </div>

                    <div class="d-flex">
                        <!-- Color 3-->
                        <div class="control-card">
                            <label for="color3" class="head-sub">Color 3</label>
                            <div class="desc-sub">Color for footer</div>
                            <div class="d-flex justify-content-center align-items-center color-picker-sub">
                                <input type="color" class="color3 color-picker-input" id="color3" name="color3" value="#543dff">
                                <div class="color-hash hash3">#543dff</div>
                            </div>
                        </div>
                        
                        <!-- Font 1-->
                        <div class="control-card p">
                            <label for="font1" class="head-sub">Font 1</label>
                            <div class="desc-sub">Font for Title</div>
                            <select type="select" class="font1 color-picker-input" id="font1" name="font1">
                                <option value="">Select</option>
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Comic Sans">Courier New</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex">
                        <!-- Font 2 -->
                        <div class="control-card">
                            <label for="font2" class="head-sub">Font 2</label>
                            <div class="desc-sub">Font for paragraph</div>
                            <select type="select" class="font2 color-picker-input" id="font2" name="font2">
                                <option value="">Select</option>
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Comic Sans">Courier New</option>
                            </select>
                        </div>
                        <!-- Font 3 -->
                        <div class="control-card p">
                            <label for="font3" class="head-sub">Font 3</label>
                            <div class="desc-sub">Font for button</div>
                            <select type="select" class="font3 color-picker-input" id="font3" name="font3">
                                <option value="">Select</option>
                                <option value="Arial">Arial</option>
                                <option value="Times New Roman">Times New Roman</option>
                                <option value="Comic Sans">Courier New</option>
                            </select>  
                        </div>
                    </div>
                    <!-- Submit button for control-main-->
                    <div>
                        <button type="submit" value="Submit" class="color-picker-sub button-submit">Submit</button>
                    </div>
                </div>
          
            </form> 
        </div>

        <div class="preview-container"> <!-- main body-->
            <div class="preview-search">
                <div></div>
                <div class="search-bar">
                    <div>www.color-font-app.com</div>
                </div>
            </div>
            <div class="preview-header box1" id="box1">
                <div>Color Picker</div>
                <div class="hamburger-menu">
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                </div>
                <div class="nonburger-menu">
                    <div>Home</div>
                    <div>Create</div>
                    <div>Favorite</div>
                    <div>About</div>
                    <div>Contact</div>
                </div>
            </div>
            <div class="preview-text">
                <div class="preview-text-box">
                    <div class="p-head head">
                        Visualize your header <br> with color-font-app
                    </div>
                    <div class="p-text para">
                        Create color combination while<br>
                        viewing how both elements interact together.<br>
                        choosing color and font combination that fits<br> your website's purpose
                    </div>
                    <button class="p-button" id="box2">Get Started</button>
                </div>
                <div>
                    <img src="./img/social.svg" alt="" class="svg">
                </div>
            </div>
            <div class="preview-footer box3" id="box3">
                {{!-- <div class="footer-container">
                    <div>
                        <div class="fch">ColorAppMode</div>
                        <div class="fcc">A web developer focused on<br> using MySQL, Express, MVC,<br> and Node.</div>
                    </div>
                    <div>
                        <div class="fch">Information</div>
                        <div class="fcc">
                            <div>Home</div>
                            <div>About</div>
                            <div>Login</div>
                            <div>Contact</div>
                        </div>
                    </div>
                    <div>
                        <div class="fch">Resources</div>
                        <div class="fcc">
                            <div>Free Components</div>
                            <div>Contact corporate</div>
                            <div>Job opportunity</div>
                            <div>About the company</div>
                        </div>
                    </div>
                    <div>
                        <div class="fch">Socials</div>
                        <div class="fcc">
                            <div>Facebook</div>
                            <div>Twitter</div>
                            <div>Instagram</div>
                            <div>Dribble</div>
                        </div>
                    </div>             
                </div> --}}
            </div>
        </div>
    </div>
    
    
</body>
<script src="./js/create.js"></script>