


<body> 
    <div class="headpreview py-5">
        <div class="previewholder">
            <div class="previewtext px-3">
                <div class="previewtext-content">
                     Create your own combination<br>
                    of color and fonts using<br> color-font-app<br>
                </div>
               
                <button class="createnow"><a href="/create" class="createnow-content">Create now</a></button>
            </div>
            
        </div>
        <div class="d-flex justify-content-center">
            <img src="./img/cfa-phone2.png" class="mobilepreview"></img>
            <img src="./img/cfa-tablet.png" class="ipadpreview"></img>
            <img src="./img/desktoppreview.png" class="desktoppreview"></img>
        </div> 
    </div>
</body>

