<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="createContainer">
        <form class="createColor container">
            <div class="row">

                <div class="col-sm-12 col-md-4 col-lg-2">

                    <label for="color1">Color 1:</label>
                    <input type="color" class="color1" id="color1" name="color1" value="#d23232">
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <label for="color2">Color 2:</label>
                    <input type="color" class="color2" id="color2" name="color2"
                    value="#66ffcc">
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2">
                    <label for="color3">Color 3:</label>
                    <input type="color" class="color3" id="color3" name="color3"
                    value="#3014ff">
                </div>
            
            

                <div class="col-sm-12 col-md-4 col-lg-2 fontselector">
                    <label for="font1">Font 1:</label>
                    <select type="select" class="font1" id="font1" name="font1">
                        <option value="">Select One …</option>
                        <option value="Arial">Arial</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Comic Sans">Courier New</option>
                    </select>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-2 fontselector">
                    <label for="font1">Font 2:</label>
                    <select type="select" class="font2" id="font2" name="font2">
                        <option value="">Select One …</option>
                        <option value="Arial">Arial</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Comic Sans">Courier New</option>
                    </select>    
                </div>
            
                <div class="col-sm-12 col-md-4 col-lg-2 fontselector">
                    <label for="font3">Font 3:</label>
                    <select type="select" class="font3" id="font3" name="font3">
                        <option value="">Select One …</option>
                        <option value="Arial">Arial</option>
                        <option value="Times New Roman">Times New Roman</option>
                        <option value="Comic Sans">Courier New</option>
                    </select>
                </div>
            </div>

            <div class="col-">
                <button type="submit" value="Submit">Submit</button>
            </div>
        </form> 
    </div>

    <div class="main-container"> <!-- main body-->

        <div class="preview-header box1">
              
        </div>
        <div class="preview-text">
            <div class="preview-text-box">
                <div class="p-head">
                    Transform your website's <br> color & font using ColorAppMode
                </div>
                 <div class="p-text">
                     Create color and fontcombination while viewing<br>
                    how both interact with each other. Colors have an effect<br> depending on your product and also make sure the proper<br> font relates to the feel of the website
                </div>
                <button class="p-button box2">Get Started</button>
            </div>
            
            <div>
                <img src="./img/social.svg" alt="" class="svg">
            </div>
        </div>

        

        <div class="preview-footer box3">
            <div class="footer-container">
                <div>
                    <div class="fch">ColorAppMode</div>
                    <div class="fcc">A web developer focused on<br> using MySQL, Express, MVC,<br> and Node.</div>
                </div>
                <div>
                    <div class="fch">Information</div>
                    <div class="fcc">
                        <div>Home</div>
                        <div>About</div>
                        <div>Login</div>
                        <div>Contact</div>
                    </div>
                </div>
                <div>
                    <div class="fch">Resources</div>
                    <div class="fcc">
                        <div>Free Components</div>
                        <div>Contact corporate</div>
                        <div>Job opportunity</div>
                        <div>About the company</div>
                    </div>
                </div>
                <div>
                    <div class="fch">Socials</div>
                    <div class="fcc">
                        <div>Facebook</div>
                        <div>Twitter</div>
                        <div>Instagram</div>
                        <div>Dribble</div>
                    </div>
                </div>             
            </div>
        </div>

    </div>
</body>
<script src="./js/create.js"></script>
</html>