<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <form class="createColor">
        <label for="color1">Color 1:</label><br>
        <input type="text" id="color1" name="color1"   placeholder="Color 1"><br>
        <label for="color2">Color 2:</label><br>
        <input type="text" id="color2" name="color2"  placeholder="Color 1"><br>
        <label for="color3">Color 3:</label><br>
        <input type="text" id="color3" name="color3" placeholder="Color 1"><br>
        <br>
        <br>
        <label for="font1">Font 1:</label><br>
        <input type="text" id="font1" name="font1"  placeholder="Font 1"><br><br>
        <label for="font2">Font 2:</label><br>
        <input type="text" id="font2" name="font2"  placeholder="Font 2"><br><br>
        <label for="font3">Font 3:</label><br>
        <input type="text" id="font3" name="font3"  placeholder="Font 3"><br><br>
        <input type="submit" value="Submit">
    </form> 
</body>
<script src="./js/create.js"></script>
</html>