<link rel="stylesheet" href="./css/table.css">
<div class="viewer">
  <table class="table table-striped">
    <thead class="">
      <tr>
        {{!-- <th scope="col">Id</th> --}}
        <th scope="col">Color 1</th>
        <th scope="col">Color 2</th>
        <th scope="col">Color 3</th>
        <th scope="col">Font 1</th>
        <th scope="col">Font 2</th>
        <th scope="col">Font 3</th>
        <th scope="col">Delete</th>
        {{!-- <th scope="col" class="tablemin">Import</th> --}}
      </tr>
    </thead>
    <tbody>
      {{#each dishes as |dish|}}
        {{> pallete-details}}
      {{/each}} 
      
    </tbody>
  </table>
</div>
  

<script src="./js/delete.js"></script>