.control-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(121, 121, 121);
    box-shadow: rgba(163, 163, 163, 0.24) 0px 0px 3px 3px;
    border-radius: 5px;
    min-width: 21.875rem;
    min-height: 34.063rem;
}

.desc-sub {
    font-size: 0.938rem;
}

.head-sub {
    font-size: 1.875rem;
}

.color-picker-sub {
    width: 70.188rem;
}

.button {
    border-style: none;
    width:5.063rem;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(107, 107, 107);
}
