.createColor {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}

.control-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(163, 163, 163, 0.24) 0px 0px 3px 3px;
    border-radius: 5px;
    min-width: 21.875rem;
    min-height: 37.5rem;
}

.control-card {
    max-width: 8.125rem;
    max-height: 8.125rem;
}

.head-sub {
    font-size: 1.875rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: rgb(65, 65, 65);
}

.desc-sub {
    font-size: 0.738rem;
    font-family: 'Overpass', sans-serif;
}

.color-picker-sub {
    background-color: white;
    height:1.875rem;
    width: 7.188rem;
}

.color-picker-input {
    height:1.875rem;
    width: 7.188rem;
}

.color-hash {
    position: absolute;
    z-index: 1;
}

/* ----------------------------------------------Preview */

.preview-container{
    margin: 0px 10px 0px 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    max-width: 62.5rem;
    box-shadow: rgba(0, 0, 0, 0.294) 0px 0px 9px 1px;
}

.preview-search {
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    border-radius: 10px 10px 0px 0px;
}

.search-bar{
    display: flex;
    justify-content: center;
    height: 1.875rem;
    width: 20.875rem;
    background-color: white;
    border-radius: 8px;
}
.preview-header {
    height: 50px;
    min-width: 22.188rem;
    background-color: rgb(156, 81, 255);
    display: flex;
    justify-content: space-between;
}

.preview-header * {
    margin: 10px 20px 10px 20px;
}

.nonburger-menu {
    display: none;
    align-items:center;
}
.preview-text {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.preview-text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* min-width: 21.875rem; */
    
    
}

.preview-footer {
    position: relative;
    bottom:0px;
    height: 5.625rem;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color:rgb(42, 0, 97);
    bottom:0px;
}

/* .footer-container {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
} */

/* component for /create */
.p {
    margin-left: 2.813rem;
}
.button-submit {
    background-color: rgb(115, 115, 255);
    border-style: none;
    border-radius: 5px;
    box-shadow: rgba(168, 168, 168, 0.404) 0px 0px 5px 2px;
    color: white;
}
/* text-title*/
.p-head {
    font-size: 1.575rem;
}

/* text-paragraph*/
.p-text {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    font-size: 0.625rem;
}
/* svg */
.svg {
    width: 21.875rem;
    height: 17.938rem;
    margin-bottom: 20px;
}
/* footer nav-header*/
.fch {
    color: white;
    font-size: 1.125rem;
}
/* footer nav-links*/
.fcc {
    color: rgb(230, 230, 230);
    font-family: 'Overpass', sans-serif;
    font-size: 0.625rem;
}

.fcc div {
    margin-bottom: 9px;
}

/* preview button component */
.p-button {
    width: 9.375rem;
    height: 1.875rem;
    border-style: none;
    background-color: rgb(88, 88, 253);
    border-radius: 5px;
    color: white;
}
/* components for preview-header*/
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.hamburger {
    width: 25px;
    height: 2px;
    background-color: rgb(36, 36, 36);
    margin: 2px 0;
      
}


.hamburger {
    width: 25px;
    height: 2px;
    background-color: rgb(36, 36, 36);
    margin: 2px 0;
      
}

/*  media query for small devices*/
@media only screen and (max-width: 600px) {
    
    .footer-container > div {
        margin-bottom: 10px;
    }
    .preview-text {
        flex-direction: column;
        align-items: center;
    }
    .svg {
        margin-top: 20px;
    }
    .customize {
        flex-direction: column;
    }
    .colorpallete {
        display: flex;
    }
    
}

/* media query above small device*/
@media only screen and (min-width: 600px) {
    .preview-text-box {
        margin: 10px;
    }
    .preview-container {
        height:auto;
    }
    .svg {
        margin-bottom: 20px;
    }
    
}

/* media query for ipad*/
@media only screen and (min-width: 1100px) {
    .main-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .preview-container {
        margin-right: 30px;
        /* height: 37.5rem; */
        width: 50rem;
       
    }
    .preview-footer {
        position: absolute;

    }
    .createColor {
        padding-bottom: 0px;
        
    }
    .p-head {
        width: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    .preview-container {
        margin-right: 30px;
        
        width: 62.5rem
    }
    .hamburger-menu{
        display: none;
    }
    .nonburger-menu {
        display: flex;
    }
   
}