*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main-container {
    min-width: 21.875rem;
    max-width:43.125rem;
    background-color: rgba(236, 236, 236, 0.383);
    border-radius: 30px;
    width: auto;
    margin: auto;
}

.preview-header {
    height: 50px;
    background-color: rgb(156, 81, 255);
    border-radius: 25px 25px 0px 0px;
}

.preview-text {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.preview-text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    
}
.preview-footer {
    bottom:0px;
    min-height: 150px;
    width: auto;
    border-radius: 0px 0px 25px 25px;
    background-color:rgb(42, 0, 97);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}





.fch {
    color: white;
    font-size: 1.125rem;
}

.fcc {
    color: rgb(230, 230, 230);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.550rem;
}

.fcc div {
    margin-bottom: 9px;
}


.p-head {
    font-size: 0.938rem;
}
.p-text {
    font-size: 0.563rem;
}
.p-button {
    font-size: 0.813rem;
    width: 90px;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(42, 0, 97);
    color: white;
}

.svg {
    width: 18.063rem;
}

.createColor {
    display: flex;
    justify-content: center;
    
}
.colorpallete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.fontpallete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.customize {
    background-color: rgb(255, 86, 86);
    border-radius: 10px;
    display: flex;
    width: 43.125rem;
    justify-content: center;
    flex-direction: row;
}

.labelx {
    width: 65px;;
    background-color: rgb(235, 235, 255);
}
.control {
    width: 100px;
}
@media only screen and (max-width: 600px) {
    .footer-container {
        display: grid;
    }
    .footer-container > div {
        margin-bottom: 10px;
    }
    .preview-text {
        flex-direction: column;
        align-items: center;
    }
    .svg {
        margin-top: 20px;
    }
    .customize {
        flex-direction: column;
    }
    .colorpallete {
        display: flex;
    }
  }