*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; 
} */

.main-container {
    min-width: 21.875rem;
    max-width:43.125rem;
    background-color: rgba(236, 236, 236, 0.383);
    border-radius: 30px;
    width: auto;
    margin: auto;
}

.preview-header {
    height: 50px;
    background-color: rgb(156, 81, 255);
    border-radius: 25px 25px 0px 0px;
}

.preview-text {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.preview-text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    
}
.preview-footer {
    bottom:0px;
    min-height: 150px;
    width: auto;
    border-radius: 0px 0px 25px 25px;
    background-color:rgb(42, 0, 97);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}





.fch {
    color: white;
    font-size: 1.125rem;
}

.fcc {
    color: rgb(230, 230, 230);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.550rem;
}

.fcc div {
    margin-bottom: 9px;
}


.p-head {
    font-size: 0.938rem;
}
.p-text {
    font-size: 0.563rem;
}
.p-button {
    font-size: 0.813rem;
    width: 90px;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(42, 0, 97);
    color: white;
}

.svg {
    width: 18.063rem;
}

.createColor {
    display: flex;
    justify-content: center;
    
}
.colorpallete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.colorpallete *  {
    color:white;
}

.fontpallete * {
    color:White;
}
.fontpallete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.customize {
    background-color: rgb(54, 3, 121);
    border-radius: 10px;
    display: flex;
    /* width: 43.125rem; */
    width: auto;
    justify-content: center;
    flex-direction: row;
}

.labelx {
    width: 65px;;
    background-color: rgb(235, 235, 255);
}
.control {
    width: 7.5rem;
}

.cont-label {
    font-size: 0.75rem;
}

.cont-header {
    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.cont-wrap {
    width: 5.063rem;
    height: 1.500rem;
    background-color: white;
    border-radius: 5px;
    border-style: solid ;
    border-width: 1px;
    border-color: rgb(116, 116, 116);
}

.cont-input {
    width: 1.25rem;
    height: 1.25rem;
    border: none;
}

.cont-hash {
    font-size: 0.75rem;
    color: black;
}

.labelx * {
    color: black;
}
.hidden {
    display: none;
}
.ddown {
    position: relative;
    top: -2px;
    width: 5.063rem;
    height: 1.575rem;
    font-size: 0.625rem;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    
}
@media only screen and (max-width: 600px) {
    .footer-container {
        display: grid;
    }
    .footer-container > div {
        margin-bottom: 10px;
    }
    .preview-text {
        flex-direction: column;
        align-items: center;
    }
    .svg {
        margin-top: 20px;
    }
    .customize {
        flex-direction: column;
    }
    .colorpallete {
        display: flex;
    }
  }