*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Overpass', sans-serif; */

/* select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; 
} */

.main-container {
    min-width: 21.875rem;
    max-width:43.125rem;
    background-color: rgba(255, 255, 255, 0.383);
    border-radius: 30px;
    width: auto;
   margin: auto;
    
}
/*
.window {
    display: flex; 
    flex-direction: row-reverse;
   justify-content: center; 
    
} */
.preview-header {
    height: 50px;
    min-width: 22.5rem;
    background-color: rgb(156, 81, 255);
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: space-between;
}

.preview-header * {
    margin: 10px 20px 10px 20px;
}

.preview-footer {
    bottom:0px;
    min-height: 150px;
    min-width: 200px;
    border-radius: 0px 0px 25px 25px;
    background-color:rgb(42, 0, 97);
}

.preview-text {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.preview-text-box {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.footer-container {
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}





.fch {
    color: white;
    font-size: 1.125rem;
}

.fcc {
    color: rgb(230, 230, 230);
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.550rem;
}

.fcc div {
    margin-bottom: 9px;
}


.p-head {
    font-size: 0.938rem;
}
.p-text {
    font-size: 0.563rem;
}
.p-button {
    font-size: 0.813rem;
    width: 90px;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(42, 0, 97);
    color: white;
}

.svg {
    width: 18.063rem;
}

.createColor {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    
}


.fontpallete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.labelx {
    width: 65px;;
    background-color: rgb(235, 235, 255);
}
.control {
    width: 7.5rem;
}


.cont-wrap {
    width: 5.063rem;
    height: 1.500rem;
    background-color: white;
    border-radius: 5px;
    border-style: solid ;
    border-width: 1px;
    border-color: rgb(116, 116, 116);
}

.cont-input {
    width: 1.25rem;
    height: 1.25rem;
    border: none;
    background-color: red;
}

.cont-hash {
    font-size: 0.75rem;
    color: black;
}

.labelx * {
    color: black;
}
.hidden {
    display: none;
}
.ddown {
    position: relative;
    top: -2px;
    width: 5.063rem;
    height: 1.575rem;
    font-size: 0.625rem;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    
}

.navx{
    padding: 0px 10px 0px 10px;
}
.hamburger {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
      
}
@media only screen and (max-width: 600px) {
    .footer-container {
        display: grid;
    }
    .footer-container > div {
        margin-bottom: 10px;
    }
    .preview-text {
        flex-direction: column;
        align-items: center;
    }
    .svg {
        margin-top: 20px;
    }
    .customize {
        flex-direction: column;
    }
    .colorpallete {
        display: flex;
    }
  }

  @media only screen and (max-width: 600px) {
    .footer-container {
        display: grid;
    }
    .footer-container > div {
        margin-bottom: 10px;
    }
    .preview-text {
        flex-direction: column;
        align-items: center;
    }
    .svg {
        margin-top: 20px;
    }
    .customize {
        flex-direction: column;
    }
    .colorpallete {
        display: flex;
    }
  }
  @media only screen and (min-width: 979px) {
    .window  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
    .createContainer{
        align-self: center;
    }
    .main-container{
        margin:0px;
        margin-left: 100px;
    }
    .navx {
        max-width: 1000px;
        margin: auto;
        
    }
   
  }