.viewer {
    min-width: 21.875rem;
    font-size: 0.625rem;
    padding: 20px 5px 5px 0px;
}

.cell {
    height: 40px;
}
.table {
    font-size: 0.625rem;
    padding: 20px 5px 5px 0px;
}

.delete-button {
    border-style: none;
    height: 20px;
    width: 40px;
    background-color: red;
    border-radius: 5px;
    color: white;
}

@media only screen and (min-width: 1100px) {
    .table {
        font-size: 20px;
    }
    .delete-button {
        height: 40px;
        width: 80px;
    }
}